@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-xs;
    @apply sm:text-sm;
    @apply m-5;
    @apply text-right;
  }

  @font-face {
    font-family: "Estedad";
    src: url("./assets/fonts/estedad/Estedad-Thin.ttf") format("truetype");
    font-weight: 100;
  }
  @font-face {
    font-family: "Estedad";
    src: url("./assets/fonts/estedad/Estedad-Light.ttf") format("truetype");
    font-weight: 300;
  }
  @font-face {
    font-family: "Estedad";
    src: url("./assets/fonts/estedad/Estedad-Medium.ttf") format("truetype");
    font-weight: 500;
  }
  @font-face {
    font-family: "Estedad";
    src: url("./assets/fonts/estedad/Estedad-Bold.ttf") format("truetype");
    font-weight: 700;
  }
  @font-face {
    font-family: "Estedad";
    src: url("./assets/fonts/estedad/Estedad-Black.ttf") format("truetype");
    font-weight: 900;
  }
  @font-face {
    font-family: "Estedad";
    src: url("./assets/fonts/estedad/Estedad-VF.ttf") format("truetype");
    font-weight: 400;
  }

  * {
    font-family: Estedad;
  }
}

@layer base {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer components {
  .float-label {
    @apply absolute right-0
      transition-all duration-200 ease-linear
      scale-75 -translate-y-3/4 top-0
      peer-focus:scale-75 peer-focus:-translate-y-3/4 peer-focus:top-0
      peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:top-1;
  }
}

.accordion-icon {
  fill: #8f1515 !important;
}
